﻿
@model IEnumerable<AdminViewModel>
@using Attendance.Web.Models;

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Administrators</div>
    <div class="panel-body">
        <div class="btn-group">
           
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Login)</td>
                        <td>@Html.DisplayFor(modelItem => item.Password)</td>
                        <td>
                            @using (Html.BeginForm("DeleteAdmin", "Test", FormMethod.Post))
                            {
                                @Html.Hidden("Id", item.Id)
                                @Html.Hidden("Login", item.Login)
                                @Html.Hidden("Password", item.Password)
                                <input type="submit" class="btn btn-default btn-xs" value="Delete" />
                            }
                        </td>
                          
                    </tr>
                }
            </tbody>
        </table>
        <div class="panel-footer">

            <div id="adminAdd">
                @using (Html.BeginForm("AddAdmin", "Test", FormMethod.Post))
            {
                    <div class="form-group">
                        <label for="username"></label>
                        <input type="text" id="username" name="username" value="" />
                    </div>

                    <div class="form-group">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" value="" />
                    </div>

                    <input type="submit" class="btn btn-default btn-xs" value="Add new admin" />
                }
            </div>

        </div>
    </div>
</div>


