﻿
@model IEnumerable<GroupViewModel>
@using Attendance.Web.Models;

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Groups</div>
    <div class="panel-body">
        <div class="btn-group">

        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>
                            @using (Html.BeginForm("DeleteGroup", "Test", FormMethod.Post))
                            {
                                @Html.Hidden("Id", item.Id)

                                <input type="submit" class="btn btn-default btn-xs" value="Delete" />
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="panel-footer">

            <div id="adminAdd">
                @using (Html.BeginForm("AddGroup", "Test", FormMethod.Post))
            {
                    <div class="form-group">
                        <label for="Id"></label>
                        <input type="text" id="Id" name="Id" value="" />
                    </div>

                    

                    <input type="submit" class="btn btn-default btn-xs" value="Add new group" />
                }
            </div>

        </div>
    </div>
</div>


